<!DOCTYPE html>
<html>
<head>
  <title>WheresMyGirlfriend</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-12" style="background-color: rgb(66,81,88); height: 110px;">
      <h1>Where's My Girlfriend</h1>
    <ul>
      <% if user_signed_in? %>
        <li> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li> <%= link_to 'Sign in', new_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Sign up', new_user_registration_path %>
        </li>
        <% end %>
    </ul>
    </div>
  </header>

<%= yield %>

</body>
</html>
